nav {
    height: 4vh;
}

main {
    min-height: calc(100vh - 15vh);
}

footer {
    height: 4vh;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    font-family: Hack, monospace;
}

div {
    color: #727272;
    text-align: center;
}

p {
    margin: 16px;
    font-size: 12px;
    color: grey;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    overflow: hidden;
}

h3 {
    text-align: left;
}

#mainheader {
    margin: 16px;
    font-size: 96px;
    color: #ccc;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

h1 {
    margin: 16px;
    font-size: 96px;
    color: #ccc;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}



#nav2 {
    margin: 25px;
    padding: 16px;
}

#ul {
    list-style: none;
    display: flex;
}

#li {
    margin: 50px;
}

a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

a:hover {

    width: 100%;
    color: pink;
}

a:hover span {
    display: none
}

a:hover:before {
    content: "❤"
}

#infotext {

}