nav {
    height: 4vh;
}

main {
    min-height: calc(100vh - 15vh);
    margin-top: 5px;
    margin-left: 5%;
    text-align: left;
}

footer {
    height: 4vh;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    position: relative;
    min-height: 100vh;
    font-family: Hack, monospace;
}

div {
    color: #727272;
    text-align: center;
}

p {
    margin: 16px;
    font-size: 14px;
    color: grey;
    text-align: left;
    /*margin-left: 5%;*/
    margin-right: 5%;
    position: relative;
    overflow: hidden;
    white-space: pre-wrap;
    line-height: 1.6;
}

h3 {
    text-align: left;
}

#mainheader {
    margin: 16px;
    font-size: 96px;
    color: #ccc;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

h1 {
    margin: 16px;
    font-size: 96px;
    color: pink;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

#nav2 {
    margin: 25px;
    padding: 16px;
}

#ul {
    list-style: none;
    display: flex;
}

#li {
    margin: 50px;
}

a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

a:hover {

    width: 100%;
    color: pink;
}

a:hover span {
    display: none
}

a:hover:before {
    content: "❤"
}


.loginbutton {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: Hack, monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
}

.loginbutton:hover {
  background-color: pink;
  text-decoration: none;
  transition-duration: 0.1s;
  color: white;
}

img {
    max-width: 500px;
    height: auto;
}