<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../main.css">
    %%PAGE_CSS_LINK%%
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TAB_TITLE%%</title>
    <link rel="icon" type="image/x-icon" href="../components/images/favicon.ico">
</head>

<body>

    <nav>
        <a href="/"><span>♡</span> h♡me </a>
        <a href="/ses1"><span>♡</span> Lesson 1</a>
        <a href="/ses2"><span>♡</span> Lesson 2</a>
        <a href="/ses3"><span>♡</span> Lesson 3</a>
        <a href="/ses4"><span>♡</span> Lesson 4</a>
        <a href="/ses5"><span>♡</span> Lesson 5</a>
        <a href="/ses6"><span>♡</span> Lesson 6</a>
        <a href="/ses7"><span>♡</span> Lesson 7</a>
        <a href="/login"><span>♡</span> Admin</a>
    </nav>
    <main>